body {
}

/* Menu */
.menu {
    position: absolute;
    top: 0;
    left: 0;
}
.menu ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.menu ul li {
    background: rgb(89, 89, 89);
    text-align: center;
    color: white;
    width: 150px;
    height: 40px;
    line-height: 40px;
}
.menu ul li:hover {
    background: rgb(75, 75, 75);
}
.menu ul li a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: inherit;
}
.menu .sliders div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.menu #cross-length {
    /*transform: rotateY(180deg);*/
}


/* Crosshair */
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*

.crosshair-bounding-box {
    position: relative;

}
.crosshair-bounding-box svg {
    position: absolute;
}*/
